<div id="<%= dom_id cotization %>">
  <p>
    <strong>Email:</strong>
    <%= cotization.email %>
  </p>

  <p>
    <strong>File:</strong>
    <%= cotization.file %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= cotization.price %>
  </p>

</div>
