<h1>Editing cotization</h1>

<%= render "form", cotization: @cotization %>

<br>

<div>
  <%= link_to "Show this cotization", @cotization %> |
  <%= link_to "Back to cotizations", cotizations_path %>
</div>
